// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.mycard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid $border-color-01;
    border-radius: 15px;
    height: auto;
    h3 {
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.mycard-img {
    width: 30%;
    img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-top: -1px;
        width: 100%;
        height: auto;
    }
}

.mycard-text {
    width: 100%;
    height: auto;
    margin: 20px;
}